language: node_js
node_js:
- '10'
sudo: false
cache: npm
install:
- npm ci
script:
- npm test
after_success:
- npm test -- --coverage
notifications:
  slack:
    rooms:
      secure: Fdz2CK83do9vk4JfUTnK5cvUq0/tpIEXcR2RDyNa550CXt4S3f0fDNJq4M0P/ckBshy/eOU2znkPlX+eaU+NZIHiAB0wDs4afXNPnIuG3IGKZqm2U3wYSnxihwap2RFrxxRCIt0jaRttZXTL7cZRCJS7ssgCIC8zs2YByQBmLlLCgvZrsbCT5OhMlGutuHK3LLwxQw5sfrMLe4oWwGGec8ae3zlftBn+0DvT6ewnDZhx9OObCS/1bDcr/XT6I9prRHg6AsO3aLZG86t63l4pgtzzfHhGzOoMa+m1nv+7cmNutrA1rOiy5lITBfn85bCnlNy36g3dF7aRcGqIfpvZm/zMnJXfwE4ib7tCoGWXK5wCxParHHbPUTs4eke6m6Mzgj6sq9KUpLxymB9vlTaeBi6+y3oR4DsddPNRbUqLHDtVDjrP6Y5BoPZppl57XarTH9qT9F+Cuhy9UI7jlPmxa4ibmjLk/cV+zRHBk0guqkecrmeyD9qAl8d5SqL4WHrspN3vh9zfQaX0eSZLdV/6kAHwpxsxgvXbPK2NUmcVfY4TNWclBnDzeTmROqDKLw3ixk6uviwVCnTEFli0NY2wok9wuFe7zoba5Hm0inzNrYjf9ym1D4CDrc6T2Kf0rGwKLDXmEMSs6K0M+jvKhfGgQRbPY+bXjEHgYhNcUi6iFW0=
    on_success: always
    on_failure: always
    template:
    - Repo `%{repository_slug}` *%{result}* build (<%{build_url}|#%{build_number}>)
      for commit (<%{compare_url}|%{commit}>) on branch `%{branch}`.
    - 'Execution time: *%{duration}*'
    - 'Message: %{message}'
